<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Family Favourites</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-dark bg-primary fixed-top rounded">
        <%= link_to 'Family Favourites', root_path, class: 'navbar-brand' %>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="sign_in">Sign in</a>
          </li>
        </ul>
      </nav>
    </header>
    <main role="main" class="container">
      <%= yield %>
    </main>
    <footer class="row justify-content-center bg-primary rounded">
        <span class="text-white">Tricia Jenkins 2018</span>
    </footer>
  </body>
</html>
